body 
{
  display: flex;
  flex-wrap: wrap;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}
#app, #admin
{
  margin-bottom: 40px;
}
/* footer */
.footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 2px;
  text-align: left;
  background-color: #f9f9f9;
}
/* links */
a 
{
  color: black;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
/* Elements */
input, button
{
  margin: 2px;
}
li
{
  list-style-type: none;
  margin: 0 10px 20px 0;
  padding: 5px;
  width: 220px;
  border: 3px solid black;
  text-align: center;
}
img
{
  max-width: 200px;
  max-height: 200px;
  margin-top: 5px;
}
.delete
{
  border: 1px solid black;
  float: right;
}
.delete:hover
{
  border: 2px solid black;
  font-weight: bold;
  background-color: red;
}