body 
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 2vw;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}
#app, #admin
{
  width: 100%;
  margin-bottom: 40px;
}
/* footer */
.footer
{
  position: fixed;
  bottom: 0;
  right: 2vw;
  padding-bottom: 2px;
  text-align: right;
}
/* links */
a 
{
  color: black;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
/* Elements */
h2
{
  text-align: center;
}
input, button
{
  margin: 2px;
}
li
{
  display: inline-block;
  margin: 0 10px 20px 0;
  padding: 5px;
  width: 210px;
  border: 3px solid black;
  list-style-type: none;
  text-align: center;
}
img
{
  max-width: 200px;
  max-height: 100px;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 8px;
}
.delete
{
  border: 1px solid black;
  float: right;
}
.delete:hover
{
  border: 2px solid black;
  font-weight: bold;
  background-color: red;
}
.sale-floor, .cart
{
  background-image: linear-gradient(to bottom right, aqua, yellow);
}
.homepage-site
{
  margin-top: 2px;
  float: right;
  font-style: italic;
  color: darkgrey;
}